@import "/src/styles/styles.scss";

.notFound {
    cursor: default;
    margin: 4em 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin-bottom: 0.2em;

        text-align: center;
        font-family: $myTitleFont;
        font-size: 4rem;
        color: $myGold;
    }

    h2 {
        margin-bottom: 1em;
        padding: 0 0.5em;

        text-align: center;
        font-size: 2.5rem;
        color: $myGold;
    }

    p {
        padding: 0 1em;

        text-align: center;
        font-size: 1.5rem;
    }
}
