@import "variables";
@import "toastify-override";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-size: 16px;
    line-height: 1;
    font-family: $myFont;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    background-color: $myBlack;
    color: $myWhite;
}

::selection {
    background-color: $myGold;
    color: $myBlack;
}
