@import "/src/styles/styles.scss";

.navbar {
    user-select: none;

    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    height: 6em;

    display: flex;
    align-items: center;

    background-color: rgba($myBrown, 0.95);
    border-bottom: 2px solid $myGold;
    color: $myWhite;

    .categories {
        list-style-type: none;
        width: 35%;
        padding: 0 0.75em 0 0.75em;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20%;
        row-gap: 1em;

        li {
            a {
                position: relative;

                padding-top: 0.2em; //Font-fix.
                padding: 0 5px 0 5px;

                text-decoration: none;
                font-size: 1.2rem;
                color: $myWhite;

                transition: all 0.3s ease;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -3px;

                    background-color: $myWhite;
                    height: 2px;
                    width: 0;

                    transition: all 0.3s ease;
                }

                &:hover {
                    color: $myGold;
                }

                &:hover:after {
                    background-color: $myGold;
                    width: 100%;
                }

                &.active {
                    color: $myGold;

                    &:after {
                        background-color: $myGold;
                        width: 100%;
                    }
                }
            }
        }
    }

    .logo {
        width: 30%;

        display: flex;
        justify-content: center;

        border-left: 2px solid $myGold;
        border-right: 2px solid $myGold;

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            transition: all 0.3s ease;

            img {
                width: 6em;
            }

            &:hover {
                transform: scale(0.95);
            }
        }
    }

    .cartLabel {
        width: 35%;

        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        .categories {
            width: 50%;
        }

        .logo {
            width: 50%;
            border-right: none;
        }

        .cartLabel {
            width: 0;
            position: fixed;
        }
    }
}
